# .env.example

# Supabase URL for connecting to your database
SUPABASE_URL=<Your Supabase URL>

# Supabase Service Key for authentication
SUPABASE_SERVICE_KEY=<Your Supabase Service Key>

# Cloudflare Account ID
CF_ACCOUNT_ID=<Your Cloudflare Account ID>

# Cloudflare API Token for authentication
CF_API_TOKEN=<Your Cloudflare API Token>

# IPaymu Settings
# Your IPaymu Merchant ID
IPAYMU_MERCHANT_ID=<Your IPaymu Merchant ID>
# Your IPaymu API Key
IPAYMU_API_KEY=<Your IPaymu API Key>

# Telegram Bot Token
BOT_TOKEN=<Your Telegram Bot Token>

# Telegram Admin ID for sending messages
ADMIN_TELEGRAM_ID=<Your Telegram Admin ID>

# Port on which the application runs
PORT=<Your application port>

# Web URL of the application
WEB_URL=<Your Web URL>
